<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022450176034-8pml92h8iqtdjj4slj72ti93ovcvrmmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022450176034-8pml92h8iqtdjj4slj72ti93ovcvrmmk</string>
	<key>API_KEY</key>
	<string>AIzaSyB0kumcAnFPS5Vat74AIRM2taU9b-Yg3Y0</string>
	<key>GCM_SENDER_ID</key>
	<string>1022450176034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-b730b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-b730b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022450176034:ios:476e42ebfa21927c6dba7b</string>
</dict>
</plist>